[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
binlog_do_db = mydb
log-slave-updates = 1
gtid_mode = ON
enforce_gtid_consistency = ON
binlog_checksum = NONE
sync_binlog = 1
slave_preserve_commit_order = 1
expire_logs_days = 7
binlog-ignore-db = mysql,performance_schema,information_schema,sys

# SSL Configuration
ssl
ssl-ca = /etc/mysql/ssl/ca-cert.pem
ssl-cert = /etc/mysql/ssl/server-cert.pem
ssl-key = /etc/mysql/ssl/server-key.pem
require_secure_transport = ON
